body{
    background-color: lightsteelblue;
}

header{
    display: flex;
    justify-content: center;
    background-color: rgb(22, 104, 197);
    border: 10px solid rgb(14, 53, 124);
}

h1{
    margin: 0%;
    font-size: 85px;
    color: rgb(3, 12, 32);
    text-shadow: -1px 0 ivory, 0 1px ivory, 1px 0 ivory, 0 -1px ivory;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.videogame-div{
    border: 18px solid rgb(14, 53, 124);
    margin: auto;
    display: flex;
    flex-direction: column;
    color: ivory;
    text-align: center;
    align-items: center;
    font-size: 30px;
    width: 50%;
    margin-bottom: 30px;
    background-color: rgb(22, 104, 197);
    font-family: 'Times New Roman', Times, serif;
    flex-wrap: wrap;
}

.videogame-div img {
    width: 100%;
}
