.videogame-div{

    border: 18px solid rgb(14, 53, 124);
    margin: auto;
    display: flex;
    flex-direction: column;
    color: ivory;
    text-align: center;
    align-items: center;
    font-size: 30px;
    width: 50%;
    margin-bottom: 30px;
    background-color: rgb(22, 104, 197);
    font-family: 'Times New Roman', Times, serif;
    flex-wrap: wrap;
}

body {

    background-color: lightsteelblue;
}

header{
    display: flex;
    justify-content: center;
    background-color: rgb(22, 104, 197);
    border: 10px solid rgb(14, 53, 124);
}

h1{
    margin: 0%;
    font-size: 85px;
    color: rgb(3, 12, 32);
    text-shadow: -1px 0 ivory, 0 1px ivory, 1px 0 ivory, 0 -1px ivory;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

button {
    
    margin: auto;
    margin-left: 170px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 15px;
    width: 30%; 
    padding: 8px;
    border: 6px solid rgb(14, 53, 124);
    color: ivory;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(22, 104, 197);
    font-size: 25px;
    border-radius: 10px 10px 10px 10px;
    flex-wrap: wrap;
}

button:focus {

    outline: auto;
}
  
button:active {

    box-shadow: 0px 0px 5px #888, inset 0px 0px 50px #888;
}

.videogame-div img {

    width: 100%;
}

.main-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width:480px) {

    .videogame-div {
        width: 100%;
        gap: 10px;

    }
}

@media (max-width:480px) {
    
    h1 {
        font-size: 53px;
        margin: 0;
    }
}

@media (max-width:480px) {

    button {
        width: 25%;
        padding: 2px;
        margin-left: 20px;
        font-size: 13px;
        margin: 20px 10px 30px 10px;
    }
}


@media (max-width:768px) {

    .videogame-div {
        width: 100%;
        gap: 10px;
        font-size: 18px;
    }
}

@media (max-width:768px) {
    
    h1 {
        font-size: 53px;
        margin: 20px 0px
    }
}

@media (max-width:768px) {

    button {

        width: 25%;
        padding: 2px;
        margin-left: 20px;
        font-size: 12px;
        margin: 20px 10px 30px 16px;
    }
}