.videogame-div{

    border: 18px solid rgb(14, 53, 124);
    margin: auto;
    display: flex;
    flex-direction: column;
    color: ivory;
    text-align: center;
    align-items: center;
    font-size: 30px;
    width: 50%;
    margin-bottom: 30px;
    background-color: rgb(22, 104, 197);
    font-family: cursive;
    flex-wrap: wrap;
}

body {

    background-color: lightsteelblue;
}

h1 {

    font-size: 75px;
    color: rgb(20, 27, 43);
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
    text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
    margin-top: 10px;
}

button {
    
    margin: auto;
    margin-left: 120px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 15px;
    width: 30%; 
    padding: 8px;
    border: 6px solid rgb(14, 53, 124);
    color: ivory;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(22, 104, 197);
    font-size: 25px;
}

.videogame-div img {
    width: 100%;


}

.main-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}